extends layout

block content
    //- Shows error message from app.js, error status, and stack
    h1= error.message
    h2= error.status 
    pre= error.stack

    //- link to go back to homepage
    nav.nav
      a(href='/')
        span &larr;
        |  Back
