extends layout.pug

block content

  article.portfolio-intro

    //- Title
    h1 My Portfolio

    //- Description of page
    p Portfolio shows recent projects from Full Stack JavaScript techdegree from Team Treehouse, to showcase skill and knowlege


  article.portfolio-project-thumbs
    .projects-box.box.grid

      //- Iterate through JSON data to show projects in thumbnail previews
      each project in projects
        .cell
          a(href= `/project/${project.id}`)
            img.thumbnail(src= project.image_urls[0], alt= project.project)
            h5= project.project

  