<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    #my-info.sidebar
      .sidebar-info-box
        br
        .thumbnail-box
          img.thumbnail(src='/static/img/_V4A0378.jpg', width="550" height="350" alt='profile image of web developer')
        .dev-intro-box

          h5 Shahetul Chisty

          //- Description of me
          p I'm a full stack developer that specializes in JavaScript, HTML, CSS, Node.js, express, and Pug

          //- Link to About section
          a(href= `/about`) Learn More &rarr;

    .wrapper
      .header
        .header-info-box
          button#menu-icon.menu-icon(type='button' data-toggle='my-info')

          //- Name for mobile layout
          span Shahetul Chisty

      block content

  script(src='/static/js/script.js')