extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        //- Name of Project
        h1 #{projects}

        //- Project description
        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul

          //- Iterator to show each technology used in project
          each technology in technologies
            li= technology

        //- Links for live project and github code, opens in new window
        a.btn-link(href= liveLink target='_blank') Live Demo
        a.btn-link(href= github target='_blank') GitHub Repo

    .project-img-box.box

      //- Image previews for projects
      img.project-img(src= imageLarge, width='1200', height='550', alt= alt)
      img.project-img(src= imageSmall, alt= alt)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
